{% if user.is_authenticated%}
<h2 align='center'>Hello! Welcome Back,{{ user.username }} </h2>
<!-- anytime u go to a url it is a get request-->
<form action="{% url 'logoutuser' %}" method='POST'>
{% csrf_token %}
<button type="submit">Logout</button>
</form>
<!-- only for instructor-->
<a href = "{% url 'createcourse' %}">Create a new Video</a><br>



{% else %}

<a href="{% url 'signupuser' %}">Sign Up</a>
<a href="{% url 'loginuser' %}">Login</a>

{% endif %}

{%block content %} {% endblock %}